body {
  background: green;
  text-align: center;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  font-family: fantasy;
}
img {
  float: center;
  height: auto;
  width: 300px;
  margin: 20px;
  border-color: black;
  border-width: 10px;
  border-style: dotted;
  border-radius: 10px;
}
